* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Montserrat", sans-serif;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #badc58;
  text-align: center;
}
.center {
  width: 25%;
  height: 60vh;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: white;
  align-items: center;
}
.center h1 {
  color: white;
  background: transparent;
  font-size: 50px;
  background-color: #30336b;
  padding: 6px 0 2px 0;
  margin-bottom: 10px;
  width: 100%;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
.inputtext {
  border: none;
  border-bottom: 1px solid purple;
  outline: none;
  margin: 0 0 0 20px;
  /* text-align: center; */
  /* font-size: rem; */
}
.content {
  display: flex;
}

.add-btn {
  background: green;
  color: white;
  overflow: hidden;
}

.todo-style {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
ul li {
  margin-bottom: 10px;
  list-style: none;
  text-align: left;
  display: flex;
  align-items: center;
  /* min-height: 40px; */
  text-transform: capitalize;
  color: #8566aa;
  font-size: 0.8rem;
}

.delit:hover {
  color: red;
  cursor: pointer;
}

.delit {
  color: pink;
  /* text-align: left; */
}

@media (max-width: 1000px) {
  .center h1 {
    font-size: 25px;
  }
  .center {
    width: 40%;
  }
}
@media (max-width: 600px) {
  .inputtext {
    width: 60%;
  }
}
